/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
.ruby-version
/*.gem


# Ignore development with Docker + Compose artifacts:
/vendor/bundle
/bin

# Ignore bash / IRB / Byebug history files
/.bash_history
/.byebug_hist
/.pry_history
/.guard_history

# NodeJS + NPM + Aglio artifacts:
/.node-gyp
/.npm
/lib/node_modules

# Example app ignores:
/example/db/*.sqlite3
/example/doc/apitecto-example-api/*.md
/example/log/*
/example/tmp/*
